/* ************** Container **************** */


.img-container {
    width: 80vw;

    display: flex;
    flex-direction: column;
    /* align-items: center; */
    position: fixed;
    top: 10%;
    left: 20%;
    overflow-y: scroll;
    height: 88%;
}
.infinite-scroll-component__outerdiv
{
    width: 95%;
}

.image_grid_cont
{
    width: 100%;
}
.image-grid {
    width: 100%;
    padding-left: 10%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(25%, 30%));
    grid-auto-rows: minmax(50px, auto);
}
    .image-item:nth-child(5n){
      grid-column-end: span 2;
    }
  
    .image-item{
      display: flex;
      width: 100%;
      object-fit: cover;
    }
      
      

/* ************** Content-Bar **************** */

.contentbar{
    height: 3.2rem;
    /* background-color: rgb(231, 231, 231); */
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-left: 3rem;
}
.active-album{
    font-size: 2rem;
    color: rgb(65, 44, 255);
    margin-left: 3rem;   
}

.upload{
    margin-right: 3rem;
}
.upload-btn{
    background-color:#2A68C6;
    color: white;
    font-size: 1rem;
    border: none;
    /* height: 2rem; */
    border-radius: 1.5rem;
    padding:0.8rem 1.5rem ;
    font-weight:500;
    /* width: 5rem; */
}

.searchbar {
    width: 35rem;
    height: 2rem;
    border-radius:0.4rem;
    padding: 0.5rem;
    border: 0.5px solid rgb(126, 126, 126);
    margin-right: 1rem;
}
.search button{
    font-size: 1rem;
    border: none;
    height: 2rem;
    width: 5rem;
    background-color:rgb(126, 126, 126);
    border-radius:0.4rem;
}

